body {
  color: white;
  background-color: #101010;
}

h4{
  padding: 7px;
  text-decoration: underline;
}

.champicon{
  padding: 20px;
}

.lol {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  padding-bottom: 5
}

.mid {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: white;
  padding: 5px;
}

footer {
  padding: 20px;
}
.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
