body {
  color: white;
  background-color: #050607;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3{
  font-size: 1.8em;
}

h4{
  padding: 7px;
  text-decoration: underline;
}

img {
  width: auto;
  height: 12em;
  padding-bottom: 2em;
}

.lol {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  padding-bottom: 5
}

.mid {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: white;
  padding: 5px;
}

footer {
  padding: 20px;
}
